html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-color: #00513F;
}

#header {
  margin: 0 auto;
  padding: 0.657vw;
  max-width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  color: #ffffff;
  background-color: #00513f;
  font-size: 2vw;
  border: 0.066vw solid #00513f;
  padding: 0.987vw 3.287vw;
  cursor: pointer;
}

button:hover {
  color: #00513f;
	background-color: #57c18e;
}

h1 {
  font-size: 5.5vw;
}

#page {
  margin: 0.105vw;
  font-size: 1.4vw;
}

.FAQ {
  font-size: 1.5vw;
}

.payment {
  height: 30%;
  width: 30%;
}

li {
  margin-right: 10%;
  color: green;
}

li:nth-child(even) {
  color: #00513f;
}

ul {
  text-align: left;
  margin-left: 10%;
}

img {
  height: 40%;
  width: 40%;
}

* {
  margin: 0;
  line-height: 150%;
}