html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-color: #00513F;
}

#header {
  margin: 0 auto;
  padding: 0.657vw;
  max-width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center
}

body {
  margin: 0;
  padding: 0;
}

button {
  color: #ffffff;
  background-color: #00513f;
  font-size: 2vw;
  border: 0.066vw solid #00513f;
  padding: 0.987vw 3.287vw;
  cursor: pointer;
}

button:hover {
  color: #00513f;
	background-color: #57c18e;
}

.demo {
  border:1px solid #00513F;
  border-collapse:collapse;
  padding:5px;
}

.demo caption {
  text-align:center;
}

.demo th {
  border:1px solid #00513F;
  padding:5px;
  background:#57C18E;
}

.demo td {
  border:1px solid #00513F;
  text-align:center;
  padding:5px;
  background:#FFFFFF;
}

table {
  font-size: 25px
}

* {
  margin: 0;
  line-height: 150%;
}