html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#header {
  font-size: 2.5vw;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hover:link {
  background-color: #00513F;
  color: white;
}

#hover:visited {
  background-color: #00513F;
  color: white;
}

#hover:hover {
  background-color: #57C18E;
  color: #00513F;
}

.fling-minislide {
  width: auto;
  height:300px;
  overflow:hidden;
  position:relative;
}

.fling-minislide img {
  position:absolute;
  animation:fling-minislide 20s infinite;
  opacity:0;
  width: auto;
  height: 100%;
}

@keyframes fling-minislide {
  25% {
    opacity:1;
  }

  40% {
    opacity:0;
  }
}
.fling-minislide img:nth-child(4) {
  animation-delay:0s;
}

.fling-minislide img:nth-child(3) {
  animation-delay:5s;
}

.fling-minislide img:nth-child(2) {
  animation-delay:10s;
}

.fling-minislide img:nth-child(1) {
  animation-delay:15s;
}

body {
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

.row {
  text-align: center;
  margin: 0;
  padding-left: 0% 20% ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: 40%;
  width: 40%;
}

.payment {
  height: 30%;
  width: 30%;
}

#prices {
  border: 0px;
  font-weight: bold;
  margin-left: 10px;
}

.FAQ {
  font-size: 120%;
}

* {
  margin: 0;
  line-height: 150%;
}